
*{
 margin: 0;
 padding: 0;
}
.cont{
    display: flex;
    justify-content: center;
    text-align: center;
}
.box{
    background-color: aqua;
    height: 10vh;
    width: 30vw;
    
}
.box2{
    background-color: greenyellow;
    height: 10vh;
    width: 30vw;
  
}